In [1]:
import pandas as pd
import numpy as np
#from imblearn.over_sampling import RandomOverSampler
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [3]:
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train, test = pd.read_csv('train2.csv'), pd.read_csv('test2.csv')

In [5]:
train.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,C,0
1,230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,L,1
2,230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,...,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,C,1
3,230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,L,0
4,230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,L,0

In [6]:
train = train.replace(['L', 'C'], [1.0, 0.0])

In [7]:
test.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,350053,1753.0,0.5001,0.000,0.0,0.0,206.0,19179.0,206.0,14221.0,...,1.0,0.0,NaN,20.551,0.42105,3.0,0.85661,NaN,0.0,L
1,350054,1894.0,1.9701,0.000,0.0,0.0,297.0,19820.0,19820.0,176895.0,...,3.0,0.0,NaN,63.047,0.00000,15.0,0.94391,0.0,0.0,C
2,350055,1774.0,0.1718,0.000,0.0,0.0,197.0,2563.0,877.0,8869.0,...,1.0,0.0,NaN,83.797,0.33333,3.0,0.76467,0.0,0.0,C
3,350056,1586.0,0.1123,5.299,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.50000,0.0,NaN,NaN,NaN,C
4,350057,1832.0,1.4442,0.000,0.0,0.0,179.0,7577.0,179.0,21059.0,...,3.0,0.0,96.052,66.665,0.00000,23.0,0.79190,0.0,0.0,L

In [8]:
test = test.replace(['L', 'C'], [1.0, 0.0])

In [9]:
train.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0.0,0
1,230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1.0,1
2,230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,...,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,0.0,1
3,230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,1.0,0
4,230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,1.0,0

In [10]:
train_default = train[train['default_ind'] == 1]
train_normal = train[train['default_ind'] == 0]

In [12]:
len(train_normal)

60303

In [13]:
train_normal_und = train_normal.sample(n=30000, random_state=2)

In [15]:
train_normal_und.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
67970,298002,NaN,0.0000,2.891,0.0,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.00000,0.0,NaN,NaN,NaN,0.0,0
27302,257334,1834.0,0.1301,0.000,0.0,0.000,1163.0,15471.0,15471.0,105981.0,...,0.0,NaN,NaN,0.00000,14.0,0.72687,0.0,0.0,1.0,0
30665,260697,1730.0,0.7997,14.354,0.0,2.817,59.0,3967.0,615.0,39109.0,...,0.0,91.399,NaN,0.21951,17.0,0.15199,NaN,NaN,0.0,0
50567,280599,1700.0,3.2464,1.536,0.0,0.000,NaN,431.0,NaN,743.0,...,0.0,NaN,NaN,0.33333,2.0,1.00000,NaN,NaN,1.0,0
45078,275110,1782.0,0.3619,0.000,0.0,0.000,428.0,9458.0,1057.0,26162.0,...,0.0,NaN,NaN,0.07143,6.0,0.47924,NaN,0.0,0.0,0

In [21]:
train_und = pd.concat([train_normal_und, train_default]).sample(frac=1, random_state=3).reset_index(drop=True)
train_und

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,245608,1616.0,1.2171,9.235,0.000,0.000,NaN,0.0,NaN,NaN,...,0.0,100.000,NaN,1.00000,1.0,0.55386,NaN,NaN,0.0,1
1,238844,1876.0,0.9501,0.000,0.000,0.000,426.0,6442.0,6442.0,19820.0,...,0.0,NaN,NaN,0.00000,2.0,1.00000,NaN,NaN,1.0,0
2,271453,1770.0,6.9585,0.637,0.000,0.000,539.0,9081.0,1560.0,7036.0,...,0.0,93.616,59.469,0.35294,12.0,0.49653,NaN,0.0,0.0,0
3,255711,1763.0,3.1145,0.000,0.000,0.000,163.0,5984.0,4955.0,57141.0,...,0.0,NaN,97.610,0.00000,29.0,0.47112,NaN,0.0,0.0,0
4,243775,NaN,0.8701,0.000,0.000,0.000,NaN,NaN,NaN,367.0,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,1
5,233452,1586.0,0.0868,22.965,0.000,0.000,NaN,NaN,NaN,622.0,...,NaN,NaN,NaN,0.75000,0.0,NaN,NaN,0.0,0.0,0
6,237417,NaN,0.3723,5.948,0.000,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.14286,0.0,NaN,NaN,NaN,1.0,1
7,309698,1912.0,0.0000,0.000,0.000,0.000,3964.0,39179.0,12111.0,61442.0,...,0.0,NaN,NaN,0.00000,10.0,0.90014,0.0,0.0,1.0,0
8,296552,1904.0,NaN,0.000,0.000,0.000,1441.0,14865.0,14865.0,260113.0,...,0.0,NaN,NaN,0.00000,17.0,0.30742,NaN,NaN,0.0,0
9,266447,1723.0,0.4018,1.296,0.000,0.000,NaN,6637.0,NaN,71104.0,...,0.0,NaN,NaN,0.12000,4.0,1.00000,0.0,0.0,0.0,0
10,287059,1764.0,2.5056,0.000,0.000,0.000,16.0,10739.0,607.0,45720.0,...,0.0,79.134,88.926,0.22727,27.0,0.29208,0.0,0.0,1.0,0
11,257559,1828.0,0.0000,0.000,0.000,0.000,297.0,14262.0,14262.0,40285.0,...,0.0,NaN,NaN,0.08333,7.0,1.00000,0.0,0.0,1.0,0
12,234404,NaN,1.6710,10.582,0.000,0.000,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,1.50000,0.0,0.75555,NaN,NaN,1.0,0
13,230392,1631.0,0.8201,49.782,6.545,25.143,NaN,1244.0,NaN,NaN,...,0.0,144.955,86.715,0.86957,2.0,0.34185,NaN,1.0,0.0,1
14,266066,1785.0,0.6871,0.000,0.000,0.000,228.0,7667.0,7667.0,89685.0,...,0.0,NaN,NaN,0.00000,27.0,0.29740,NaN,0.0,0.0,0
15,300018,1762.0,0.5790,0.000,0.000,0.000,15.0,15.0,15.0,NaN,...,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,0.0,1
16,277638,1836.0,1.7618,0.173,0.000,0.000,297.0,103570.0,7333.0,78117.0,...,0.0,NaN,87.506,0.00000,14.0,0.72667,0.0,0.0,0.0,0
17,243300,1900.0,NaN,0.000,0.000,0.000,3282.0,14892.0,3282.0,12461.0,...,0.0,52.604,9.246,0.00000,3.0,0.73618,NaN,0.0,1.0,0
18,288387,NaN,0.6844,0.000,0.000,0.000,NaN,155.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.00000,NaN,NaN,0.0,1
19,253585,1760.0,1.7326,7.614,0.000,0.000,520.0,2220.0,2220.0,4380.0,...,0.0,NaN,92.969,0.40000,4.0,0.97010,NaN,0.0,0.0,1
20,272071,1763.0,1.5834,0.201,0.000,0.000,31.0,31.0,31.0,743.0,...,0.0,NaN,NaN,NaN,0.0,0.73624,NaN,NaN,0.0,0
21,254999,1731.0,1.6022,5.888,0.000,0.000,297.0,1741.0,1741.0,41305.0,...,0.0,NaN,NaN,0.16667,10.0,0.97340,0.0,0.0,1.0,0
22,274329,1728.0,3.1826,0.537,0.000,0.000,208.0,6000.0,496.0,297.0,...,0.0,NaN,77.349,0.90000,2.0,0.99567,NaN,0.0,0.0,1
23,280801,1588.0,0.5264,3.366,3.366,0.000,NaN,9995.0,NaN,NaN,...,1.0,NaN,39.153,0.54545,0.0,1.00000,0.0,1.0,1.0,0
24,276757,1696.0,0.6801,1.156,0.000,0.000,0.0,24179.0,24179.0,21251.0,...,0.0,NaN,NaN,0.60000,1.0,0.46461,NaN,NaN,1.0,1
25,263510,1729.0,1.2508,2.724,1.807,0.000,17.0,13868.0,742.0,31377.0,...,0.0,NaN,99.044,0.14815,9.0,0.42817,0.0,0.0,0.0,0
26,308422,1898.0,0.0544,0.000,0.000,0.000,860.0,10406.0,10406.0,49102.0,...,0.0,NaN,NaN,0.00000,7.0,0.48155,0.0,NaN,1.0,0
27,240910,NaN,0.8001,0.000,0.000,0.000,NaN,NaN,NaN,297.0,...,NaN,NaN,NaN,1.00000,0.0,NaN,0.0,0.0,0.0,1
28,271560,1812.0,0.6945,0.578,0.000,0.000,2378.0,27144.0,14780.0,27748.0,...,0.0,60.502,NaN,0.14286,7.0,0.91565,0.0,NaN,0.0,0
29,270155,1800.0,1.5601,0.000,0.000,0.000,1703.0,3125.0,3125.0,8126.0,...,0.0,100.000,87.245,0.00000,12.0,0.73663,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49667,274085,1774.0,3.2056,0.000,0.000,0.000,492.0,18478.0,5897.0,64691.0,...,0.0,NaN,43.753,0.19444,21.0,0.75222,0.0,0.0,0.0,0
49668,231489,1579.0,0.3641,3.009,0.000,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.00000,0.0,NaN,NaN,NaN,0.0,1
49669,230757,1699.0,0.9230,1.842,0.000,0.000,0.0,8090.0,0.0,12289.0,...,0.0,NaN,72.123,0.27273,11.0,0.53508,NaN,0.0,0.0,0
49670,259381,1698.0,2.3446,6.662,0.447,0.000,62.0,4724.0,396.0,1982.0,...,0.0,NaN,63.886,0.45455,2.0,0.95073,NaN,0.0,0.0,0
49671,301090,1750.0,0.4569,5.315,1.665,0.000,367.0,1634.0,1331.0,45936.0,...,0.0,NaN,NaN,0.12500,5.0,0.98390,0.0,0.0,1.0,0
49672,243885,1856.0,0.4416,0.000,0.000,0.000,694.0,6843.0,6843.0,18086.0,...,0.0,NaN,NaN,0.00000,4.0,0.56213,NaN,NaN,0.0,0
49673,235507,1717.0,0.9859,1.704,0.453,0.000,49.0,8087.0,1877.0,17144.0,...,0.0,NaN,58.348,0.15385,5.0,0.47146,0.0,0.0,0.0,0
49674,309231,1759.0,0.0293,0.000,0.000,0.000,991.0,3259.0,3259.0,20529.0,...,0.0,NaN,NaN,0.42857,4.0,0.86215,NaN,NaN,0.0,0
49675,289923,1751.0,3.9134,0.000,0.000,0.000,496.0,1982.0,1982.0,14851.0,...,0.0,NaN,NaN,0.25000,11.0,0.52147,NaN,0.0,1.0,1
49676,230498,1781.0,0.6050,0.545,0.000,0.000,NaN,109945.0,NaN,17838.0,...,1.0,NaN,62.487,0.00000,3.0,0.91032,0.0,0.0,1.0,0
49677,272740,1932.0,NaN,0.000,0.000,0.000,347.0,117966.0,15856.0,58286.0,...,0.0,NaN,NaN,0.00000,9.0,0.77904,0.0,NaN,1.0,0
49678,291313,1940.0,NaN,0.000,0.000,0.000,26610.0,116938.0,49550.0,115914.0,...,0.0,NaN,NaN,0.00000,7.0,0.97403,0.0,NaN,1.0,0
49679,249796,1608.0,2.0939,1.829,0.000,0.600,0.0,532.0,19.0,1817.0,...,0.0,100.000,NaN,0.66667,5.0,0.84274,NaN,0.0,0.0,1
49680,293287,1764.0,0.0000,0.000,0.000,0.000,496.0,11802.0,4781.0,35973.0,...,0.0,NaN,48.143,0.05882,12.0,0.85749,NaN,0.0,0.0,0
49681,306392,NaN,0.0751,0.000,0.000,0.000,1221.0,1221.0,1221.0,NaN,...,0.0,NaN,NaN,1.09091,0.0,1.00000,NaN,NaN,0.0,0
49682,301975,1690.0,0.0000,18.470,0.000,8.565,297.0,1690.0,297.0,7735.0,...,0.0,111.270,NaN,0.42857,4.0,0.34855,NaN,NaN,0.0,0
49683,250815,1797.0,0.6129,0.000,0.000,0.000,496.0,2881.0,2478.0,5946.0,...,0.0,103.158,NaN,0.00000,12.0,0.27961,NaN,0.0,0.0,0
49684,272250,NaN,0.1944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1
49685,237694,1770.0,0.4891,0.000,0.000,0.000,991.0,6115.0,5523.0,24983.0,...,0.0,NaN,NaN,0.34783,5.0,0.99132,0.0,0.0,1.0,0
49686,288079,1636.0,0.8974,9.220,3.024,0.000,0.0,20076.0,100.0,1586.0,...,0.0,NaN,48.104,0.50000,0.0,0.51089,0.0,0.0,0.0,1
49687,231869,1717.0,0.5686,0.000,0.000,0.000,0.0,317.0,317.0,3523.0,...,0.0,NaN,NaN,0.00000,4.0,0.59868,NaN,NaN,0.0,1
49688,294282,1650.0,0.8070,3.451,0.000,0.000,0.0,7815.0,0.0,38596.0,...,1.0,NaN,65.912,0.33333,5.0,0.83630,0.0,0.0,0.0,0
49689,259819,1873.0,0.0601,0.000,0.000,0.000,4460.0,11818.0,11818.0,10805.0,...,0.0,NaN,NaN,0.00000,1.0,1.00000,NaN,NaN,1.0,0
49690,275054,1676.0,1.8629,5.624,5.364,0.000,365.0,4757.0,511.0,3023.0,...,1.0,NaN,NaN,0.28571,1.0,0.96755,NaN,1.0,0.0,0
49691,269486,1537.0,2.2792,4.572,0.000,0.000,0.0,0.0,0.0,1276.0,...,1.0,NaN,NaN,0.76923,0.0,0.76475,1.0,0.0,1.0,1
49692,270747,1812.0,0.0847,0.000,0.000,0.000,790.0,5043.0,1082.0,7978.0,...,0.0,100.282,NaN,0.00000,7.0,0.33201,NaN,0.0,0.0,0
49693,304057,1616.0,1.5613,8.330,0.000,0.000,NaN,43.0,NaN,NaN,...,0.0,NaN,NaN,1.00000,1.0,1.00000,NaN,NaN,0.0,1
49694,296449,1909.0,0.0346,0.000,0.000,0.000,4955.0,36053.0,14865.0,40136.0,...,0.0,NaN,NaN,0.00000,14.0,0.64866,0.0,0.0,0.0,0
49695,281282,1793.0,1.7738,0.000,0.000,0.000,110.0,46959.0,7569.0,110853.0,...,0.0,NaN,79.487,0.00000,15.0,0.32306,0.0,0.0,0.0,0
49696,232355,1671.0,0.0000,21.456,0.000,0.000,NaN,950.0,NaN,347.0,...,0.0,NaN,96.195,0.81818,2.0,1.00000,NaN,0.0,1.0,0

In [25]:
train_und['default_ind'].value_counts()*100/len(train_und)

0    60.365817
1    39.634183
Name: default_ind, dtype: float64

In [26]:
train_X = train_und.iloc[:,1:-1]
train_Y = train_und.iloc[:,-1]
test_X = test.iloc[:,1:]

In [23]:
sum(train_Y)

19697

In [29]:
xgb_model = XGBClassifier(n_jobs = 6)

parameters = {'max_depth': [3,5,7,9,12],
              'n_estimators': [50, 70, 100, 150, 200, 300], 
              'seed': [42]}

clf = GridSearchCV(xgb_model, param_grid=parameters, scoring='recall', verbose=5)


clf.fit(train_X, train_Y)

Fitting 3 folds for each of 30 candidates, totalling 90 fits
[CV] max_depth=3, n_estimators=50, seed=42 ...........................
[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6704233932378921, total=   1.9s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6643314042034725, total=   1.7s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    3.9s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6642802741812642, total=   1.7s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    5.8s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6696618946085897, total=   2.4s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    8.3s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6670727992689613, total=   2.4s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................
[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6668697638994668, total=   2.5s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6708802924154736, total=   3.6s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6690526957051477, total=   3.3s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6691546077684691, total=   3.3s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6695095948827292, total=   5.0s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6699664940603107, total=   5.0s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6712871287128713, total=   5.0s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.6682911970758453, total=   6.6s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.6681388973499848, total=   6.6s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.6693069306930693, total=   6.6s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.6692049954310082, total=   9.9s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.6708802924154736, total=  10.0s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.6706778370144707, total=  10.9s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6663113006396588, total=   3.3s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6708802924154736, total=   3.0s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6629093678598629, total=   3.0s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.6696618946085897, total=   4.2s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.6696618946085897, total=   4.0s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.6682406702208682, total=   4.1s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.6728601888516601, total=   5.8s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.6693572951568687, total=   6.0s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.6683929931454684, total=   5.9s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.6733170880292415, total=   8.6s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.6687480962534268, total=   8.4s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.6664127951256664, total=   8.3s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.6687480962534268, total=  11.1s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.6684434968017058, total=  11.0s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.6686976389946687, total=  11.1s
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.6628084069448675, total=  16.5s
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.6722509899482181, total=  16.6s
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.6682406702208682, total=  17.1s
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.6713371915930552, total=   4.3s
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.6687480962534268, total=   4.4s
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.670982482863671, total=   4.2s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.6685957965275663, total=   6.0s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.6685957965275663, total=   5.8s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.6717440974866717, total=   5.8s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.6696618946085897, total=   8.6s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.6679865976241243, total=   8.2s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.6683929931454684, total=   8.0s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.6660067011879378, total=  12.2s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.6667681998172403, total=  11.9s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.6667174409748667, total=  11.9s
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.6653975022844959, total=  15.9s
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.6704233932378921, total=  15.8s
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.6651942117288652, total=  15.8s
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.6670727992689613, total=  23.5s
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.6684434968017058, total=  23.6s
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.6648895658796649, total=  23.6s
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.6640268047517515, total=   5.6s
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.6685957965275663, total=   5.6s
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.6693069306930693, total=   5.6s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................

[CV]  max_depth=9, n_estimators=70, seed=42, score=0.6631130063965884, total=   7.7s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................
[CV]  max_depth=9, n_estimators=70, seed=42, score=0.6672250989948219, total=   7.6s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................
[CV]  max_depth=9, n_estimators=70, seed=42, score=0.6676313785224677, total=   7.8s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.6676819981724033, total=  10.9s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.6707279926896131, total=  10.7s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.6673267326732674, total=  10.8s
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.6658544014620774, total=  16.3s
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.674078586658544, total=  15.8s
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.663975628332064, total=  15.8s
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.6640268047517515, total=  21.1s
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.6685957965275663, total=  20.9s
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.661995430312262, total=  20.9s
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.662960706670728, total=  32.8s
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.6667681998172403, total=  31.5s
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.663975628332064, total=  31.3s
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.6650929028327749, total=   8.1s
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.662960706670728, total=   7.8s
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.6629093678598629, total=   7.9s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.6681388973499848, total=  10.8s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.663874505025891, total=  10.7s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.6635186595582635, total=  10.8s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.6696618946085897, total=  15.1s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.6661590009137983, total=  15.0s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.6623000761614622, total=  15.1s
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.6660067011879378, total=  22.3s
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.6669204995431008, total=  22.0s
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.6632140137090632, total=  22.2s
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.6640268047517515, total=  29.3s
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.6673773987206824, total=  29.3s
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.661995430312262, total=  29.3s
[CV] max_depth=12, n_estimators=300, seed=42 .........................
[CV]  max_depth=12, n_estimators=300, seed=42, score=0.6657021017362169, total=  43.8s
[CV] max_depth=12, n_estimators=300, seed=42 .........................
[CV]  max_depth=12, n_estimators=300, seed=42, score=0.6652452025586354, total=  43.3s
[CV] max_depth=12, n_estimators=300, seed=42 .........................
[CV]  max_depth=12, n_estimators=300, seed=42, score=0.6626047220106626, total=  46.4s

[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed: 19.0min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=6, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [3, 5, 7, 9, 12], 'n_estimators': [50, 70, 100, 150, 200, 300], 'seed': [42]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='recall', verbose=5)

In [30]:
clf.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=50,
       n_jobs=6, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42, silent=True,
       subsample=1)

In [32]:
predictions = clf.predict(test_X)
model = clf.best_estimator_

### Submission

In [33]:
def probability_dataframe(model,test_data, predictions):
    probabilities = model.predict_proba(test_data)
    d = {'application_key':test['application_key'], 'default_ind':predictions.tolist(),\
         'probability':probabilities.tolist()}

    prediction_df = pd.DataFrame(data = d)
    prediction_df['Confidence'] = prediction_df.apply(lambda row: row[2][row[1]], axis =1)
    prediction_df.sort_values(by = 'Confidence', axis = 0, ascending=False, inplace = True)
    prediction_df.reset_index(drop=True, inplace = True)
    
    return prediction_df

In [34]:
probability_df = probability_dataframe(model, test_X, predictions)
probability_df

,application_key,default_ind,probability,Confidence
0,368204,0,"[0.9928693175315857, 0.007130669429898262]",0.992869
1,355674,0,"[0.9928351044654846, 0.007164891343563795]",0.992835
2,367882,0,"[0.9928014874458313, 0.00719850929453969]",0.992801
3,365321,0,"[0.9927955269813538, 0.007204476278275251]",0.992796
4,350246,0,"[0.9927190542221069, 0.007280949503183365]",0.992719
5,365430,0,"[0.9926544427871704, 0.007345566060394049]",0.992654
6,367601,0,"[0.9925822019577026, 0.007417783606797457]",0.992582
7,370383,0,"[0.9925565719604492, 0.00744342477992177]",0.992557
8,367047,0,"[0.9925101399421692, 0.007489841431379318]",0.992510
9,352522,0,"[0.9924963116645813, 0.007503710221499205]",0.992496
10,351808,0,"[0.9924958348274231, 0.007504182402044535]",0.992496
11,355791,0,"[0.9924871921539307, 0.007512806449085474]",0.992487
12,351965,0,"[0.9924629330635071, 0.007537058088928461]",0.992463
13,372316,0,"[0.992435097694397, 0.007564920000731945]",0.992435
14,364074,0,"[0.9924082159996033, 0.007591791916638613]",0.992408
15,372684,0,"[0.9923776984214783, 0.0076222848147153854]",0.992378
16,365999,0,"[0.992368221282959, 0.0076317982748150826]",0.992368
17,352943,0,"[0.9923409223556519, 0.007659050635993481]",0.992341
18,350765,0,"[0.9923406839370728, 0.00765931187197566]",0.992341
19,367667,0,"[0.9923357963562012, 0.00766421714797616]",0.992336
20,366035,0,"[0.9922983646392822, 0.007701664697378874]",0.992298
21,372525,0,"[0.9922915101051331, 0.007708493620157242]",0.992292
22,369694,0,"[0.9922657012939453, 0.007734327111393213]",0.992266
23,353356,0,"[0.9921984672546387, 0.007801536004990339]",0.992198
24,368162,0,"[0.9921976327896118, 0.0078023700043559074]",0.992198
25,359913,0,"[0.9921817183494568, 0.007818277925252914]",0.992182
26,358975,0,"[0.9921521544456482, 0.007847868837416172]",0.992152
27,361127,0,"[0.9921321272850037, 0.007867846637964249]",0.992132
28,374225,0,"[0.9921236634254456, 0.007876359857618809]",0.992124
29,357901,0,"[0.9920669794082642, 0.007933001033961773]",0.992067
...,...,...,...,...
24970,351866,0,"[0.5005302429199219, 0.49946972727775574]",0.500530
24971,371535,0,"[0.5005279779434204, 0.4994719922542572]",0.500528
24972,366991,0,"[0.5005194544792175, 0.49948054552078247]",0.500519
24973,373596,0,"[0.5005174279212952, 0.49948257207870483]",0.500517
24974,364289,0,"[0.5004360675811768, 0.49956390261650085]",0.500436
24975,369895,0,"[0.5004087686538696, 0.499591201543808]",0.500409
24976,370731,1,"[0.49963200092315674, 0.5003679990768433]",0.500368
24977,356337,0,"[0.5003396272659302, 0.4996603727340698]",0.500340
24978,366846,1,"[0.4996623992919922, 0.5003376007080078]",0.500338
24979,367412,1,"[0.4996635913848877, 0.5003364086151123]",0.500336
24980,362675,1,"[0.49966371059417725, 0.5003362894058228]",0.500336
24981,373770,1,"[0.49966466426849365, 0.5003353357315063]",0.500335
24982,372053,1,"[0.4997152090072632, 0.5002847909927368]",0.500285
24983,358205,0,"[0.5002597570419312, 0.49974027276039124]",0.500260
24984,371937,0,"[0.5002593994140625, 0.4997406303882599]",0.500259
24985,365110,1,"[0.4997503161430359, 0.5002496838569641]",0.500250
24986,364665,0,"[0.5001880526542664, 0.49981194734573364]",0.500188
24987,367936,1,"[0.4998178482055664, 0.5001821517944336]",0.500182
24988,366133,1,"[0.499830424785614, 0.500169575214386]",0.500170
24989,367896,1,"[0.49986696243286133, 0.5001330375671387]",0.500133
24990,352348,1,"[0.4998689293861389, 0.5001310706138611]",0.500131
24991,373968,1,"[0.49987977743148804, 0.500120222568512]",0.500120
24992,354697,1,"[0.49988245964050293, 0.5001175403594971]",0.500118
24993,351119,1,"[0.4999024271965027, 0.5000975728034973]",0.500098
24994,357763,1,"[0.4999106526374817, 0.5000893473625183]",0.500089
24995,365254,1,"[0.4999156594276428, 0.5000843405723572]",0.500084
24996,371916,1,"[0.49992722272872925, 0.5000727772712708]",0.500073
24997,356925,0,"[0.500069260597229, 0.499930739402771]",0.500069
24998,367389,0,"[0.5000689029693604, 0.49993109703063965]",0.500069
24999,373305,1,"[0.4999909996986389, 0.5000090003013611]",0.500009

In [35]:
probability_df.iloc[:10000]

,application_key,default_ind,probability,Confidence
0,368204,0,"[0.9928693175315857, 0.007130669429898262]",0.992869
1,355674,0,"[0.9928351044654846, 0.007164891343563795]",0.992835
2,367882,0,"[0.9928014874458313, 0.00719850929453969]",0.992801
3,365321,0,"[0.9927955269813538, 0.007204476278275251]",0.992796
4,350246,0,"[0.9927190542221069, 0.007280949503183365]",0.992719
5,365430,0,"[0.9926544427871704, 0.007345566060394049]",0.992654
6,367601,0,"[0.9925822019577026, 0.007417783606797457]",0.992582
7,370383,0,"[0.9925565719604492, 0.00744342477992177]",0.992557
8,367047,0,"[0.9925101399421692, 0.007489841431379318]",0.992510
9,352522,0,"[0.9924963116645813, 0.007503710221499205]",0.992496
10,351808,0,"[0.9924958348274231, 0.007504182402044535]",0.992496
11,355791,0,"[0.9924871921539307, 0.007512806449085474]",0.992487
12,351965,0,"[0.9924629330635071, 0.007537058088928461]",0.992463
13,372316,0,"[0.992435097694397, 0.007564920000731945]",0.992435
14,364074,0,"[0.9924082159996033, 0.007591791916638613]",0.992408
15,372684,0,"[0.9923776984214783, 0.0076222848147153854]",0.992378
16,365999,0,"[0.992368221282959, 0.0076317982748150826]",0.992368
17,352943,0,"[0.9923409223556519, 0.007659050635993481]",0.992341
18,350765,0,"[0.9923406839370728, 0.00765931187197566]",0.992341
19,367667,0,"[0.9923357963562012, 0.00766421714797616]",0.992336
20,366035,0,"[0.9922983646392822, 0.007701664697378874]",0.992298
21,372525,0,"[0.9922915101051331, 0.007708493620157242]",0.992292
22,369694,0,"[0.9922657012939453, 0.007734327111393213]",0.992266
23,353356,0,"[0.9921984672546387, 0.007801536004990339]",0.992198
24,368162,0,"[0.9921976327896118, 0.0078023700043559074]",0.992198
25,359913,0,"[0.9921817183494568, 0.007818277925252914]",0.992182
26,358975,0,"[0.9921521544456482, 0.007847868837416172]",0.992152
27,361127,0,"[0.9921321272850037, 0.007867846637964249]",0.992132
28,374225,0,"[0.9921236634254456, 0.007876359857618809]",0.992124
29,357901,0,"[0.9920669794082642, 0.007933001033961773]",0.992067
...,...,...,...,...
9970,360867,0,"[0.8276462554931641, 0.17235375940799713]",0.827646
9971,360638,0,"[0.827641487121582, 0.17235854268074036]",0.827641
9972,368060,1,"[0.17237722873687744, 0.8276227712631226]",0.827623
9973,366113,1,"[0.17238467931747437, 0.8276153206825256]",0.827615
9974,352396,0,"[0.8275922536849976, 0.17240777611732483]",0.827592
9975,354473,0,"[0.8275278210639954, 0.17247219383716583]",0.827528
9976,357715,1,"[0.17252248525619507, 0.8274775147438049]",0.827478
9977,374697,0,"[0.8274106383323669, 0.17258934676647186]",0.827411
9978,373641,0,"[0.8273969292640686, 0.1726030856370926]",0.827397
9979,371751,0,"[0.8273811340332031, 0.17261886596679688]",0.827381
9980,355655,0,"[0.827373206615448, 0.1726267784833908]",0.827373
9981,375016,0,"[0.8273729085922241, 0.17262712121009827]",0.827373
9982,366762,1,"[0.17264407873153687, 0.8273559212684631]",0.827356
9983,364133,0,"[0.827355682849884, 0.17264430224895477]",0.827356
9984,370699,0,"[0.8273018598556519, 0.17269815504550934]",0.827302
9985,352176,0,"[0.8272895216941833, 0.17271049320697784]",0.827290
9986,373036,1,"[0.17277252674102783, 0.8272274732589722]",0.827227
9987,353184,0,"[0.827212393283844, 0.1727876216173172]",0.827212
9988,359751,1,"[0.17281568050384521, 0.8271843194961548]",0.827184
9989,359394,0,"[0.8271837830543518, 0.172816202044487]",0.827184
9990,356978,1,"[0.1728290319442749, 0.8271709680557251]",0.827171
9991,363665,0,"[0.8271509408950806, 0.17284907400608063]",0.827151
9992,369334,0,"[0.8271068334579468, 0.17289318144321442]",0.827107
9993,375021,0,"[0.827092170715332, 0.17290785908699036]",0.827092
9994,358814,0,"[0.8270480036735535, 0.17295201122760773]",0.827048
9995,370439,1,"[0.17299389839172363, 0.8270061016082764]",0.827006
9996,362626,0,"[0.8269773125648499, 0.17302268743515015]",0.826977
9997,372736,0,"[0.8269411325454712, 0.17305888235569]",0.826941
9998,361652,0,"[0.8269385099411011, 0.17306150496006012]",0.826939
9999,366338,0,"[0.8269255757331848, 0.17307443916797638]",0.826926

In [ ]:
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = train_X.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)
feature_importances

In [36]:
sum(probability_df[:10000]['default_ind'])

1360

In [37]:
submission = probability_df.iloc[:,:2]
submission.to_csv('undersmpled_opt.csv', index = False, header=False)