In [21]:
import pandas as pd
import numpy as np
#from imblearn.over_sampling import RandomOverSampler
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")

In [3]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [4]:
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
train_X, test = pd.read_csv('Oversampled_train_X.csv'), pd.read_csv('test_scale.csv')
train_Y = pd.read_csv('Oversampled_train_Y.csv')

In [16]:
test_X = test.iloc[:,1:]

In [18]:
test_X = test_X.replace(['L', 'C'], [1.0, 0.0])

In [7]:
train_X.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47_C,mvar47_L
0,-0.528588,0.333358,-0.488281,-0.264171,-0.187597,-0.433819,-0.245975,-0.637036,0.117497,-0.179798,...,2.168340,-0.830516,0.427558,-0.660666,0.546220,-0.269627,NaN,-0.277763,1.0,0.0
1,1.058093,-0.179986,-0.488281,-0.264171,-0.187597,-0.406278,-0.213754,-0.355727,-0.297199,-0.250506,...,-0.216599,0.021220,NaN,-0.892156,1.021577,-0.272189,NaN,NaN,0.0,1.0
2,-0.010272,-0.428818,-0.488281,-0.264171,-0.187597,NaN,-0.319868,NaN,NaN,-0.416157,...,-0.216599,NaN,-1.751384,-0.892156,-0.879850,1.198628,NaN,-0.277763,1.0,0.0
3,-0.073739,-0.538708,-0.488281,-0.264171,-0.187597,0.101333,0.187849,-0.179576,-0.258193,0.097066,...,-0.216599,-0.074776,NaN,-0.482603,-0.562946,-0.703096,-0.246155,-0.277763,0.0,1.0
4,0.433999,-0.664825,-0.467478,-0.264171,-0.187597,1.037983,-0.257041,-0.126356,-0.489175,-0.384003,...,-0.216599,0.555131,NaN,-0.892156,-0.879850,0.900308,NaN,NaN,0.0,1.0

In [11]:
train_X['mvar47'] = train_X['mvar47_L']
train_X.drop(['mvar47_C', 'mvar47_L'], axis = 1, inplace = True)

In [ ]:
train_X['mvar47'] = train_X['mvar47_L']
train_X.drop(['mvar47_C', 'mvar47_L'], axis = 1, inplace = True)

In [12]:
train_X.head(2)

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,-0.528588,0.333358,-0.488281,-0.264171,-0.187597,-0.433819,-0.245975,-0.637036,0.117497,-0.179798,...,-0.072248,2.168340,-0.830516,0.427558,-0.660666,0.546220,-0.269627,NaN,-0.277763,0.0
1,1.058093,-0.179986,-0.488281,-0.264171,-0.187597,-0.406278,-0.213754,-0.355727,-0.297199,-0.250506,...,-0.576733,-0.216599,0.021220,NaN,-0.892156,1.021577,-0.272189,NaN,NaN,1.0

In [13]:
train_Y['default_ind'].value_counts()

0    60303
1    40000
Name: default_ind, dtype: int64

In [ ]:
xgb_model = XGBClassifier(n_jobs = 2)

parameters = {'max_depth': [3,5,7,9,12],
              'n_estimators': [50, 70, 100, 150, 200, 300], 
              'seed': [42]}

clf = GridSearchCV(xgb_model, param_grid=parameters, scoring='recall', verbose=5)


clf.fit(train_X, train_Y)

Fitting 3 folds for each of 30 candidates, totalling 90 fits
[CV] max_depth=3, n_estimators=50, seed=42 ...........................
[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6583920803959802, total=   6.4s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.6s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6779419485487137, total=   6.4s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   13.3s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.683267081677042, total=   6.6s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   20.1s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6634918254087295, total=   8.9s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   29.3s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6813920348008701, total=   8.9s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................
[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6883672091802295, total=   8.9s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6630418479076046, total=  13.2s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6852171304282607, total=  12.7s
[CV] max_depth=3, n_estimators=100, seed=42 ..........................
[CV]  max_depth=3, n_estimators=100, seed=42, score=0.6924923123078077, total=  12.6s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6658917054147293, total=  18.7s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6846921173029326, total=  18.7s
[CV] max_depth=3, n_estimators=150, seed=42 ..........................
[CV]  max_depth=3, n_estimators=150, seed=42, score=0.6935423385584639, total=  18.8s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.667841607919604, total=  24.8s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.6870171754293858, total=  25.0s
[CV] max_depth=3, n_estimators=200, seed=42 ..........................
[CV]  max_depth=3, n_estimators=200, seed=42, score=0.699017475436886, total=  25.3s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.6692665366731664, total=  37.3s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.6900172504312608, total=  37.7s
[CV] max_depth=3, n_estimators=300, seed=42 ..........................
[CV]  max_depth=3, n_estimators=300, seed=42, score=0.7038925973149329, total=  37.8s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6637918104094795, total=  11.1s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6855171379284483, total=  11.0s
[CV] max_depth=5, n_estimators=50, seed=42 ...........................
[CV]  max_depth=5, n_estimators=50, seed=42, score=0.6987924698117453, total=  11.0s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.6669416529173541, total=  15.1s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.6887422185554639, total=  15.2s
[CV] max_depth=5, n_estimators=70, seed=42 ...........................
[CV]  max_depth=5, n_estimators=70, seed=42, score=0.7026925673141828, total=  15.3s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.6720413979301035, total=  21.4s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.694742368559214, total=  21.5s
[CV] max_depth=5, n_estimators=100, seed=42 ..........................
[CV]  max_depth=5, n_estimators=100, seed=42, score=0.7104177604440111, total=  21.4s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.67961601919904, total=  31.7s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.7013425335633391, total=  32.3s
[CV] max_depth=5, n_estimators=150, seed=42 ..........................
[CV]  max_depth=5, n_estimators=150, seed=42, score=0.7234680867021676, total=  32.4s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.6847157642117894, total=  42.2s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.7079426985674642, total=  42.0s
[CV] max_depth=5, n_estimators=200, seed=42 ..........................
[CV]  max_depth=5, n_estimators=200, seed=42, score=0.7320183004575115, total=  42.2s
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.6935653217339133, total= 1.0min
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.7176929423235581, total= 1.0min
[CV] max_depth=5, n_estimators=300, seed=42 ..........................
[CV]  max_depth=5, n_estimators=300, seed=42, score=0.7472436810920273, total= 1.1min
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.6766161691915404, total=  16.2s
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.7011925298132453, total=  16.1s
[CV] max_depth=7, n_estimators=50, seed=42 ...........................
[CV]  max_depth=7, n_estimators=50, seed=42, score=0.7251931298282457, total=  16.1s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.6862906854657267, total=  22.0s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.7089177229430735, total=  22.1s
[CV] max_depth=7, n_estimators=70, seed=42 ...........................
[CV]  max_depth=7, n_estimators=70, seed=42, score=0.7398184954623865, total=  22.2s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.6950652467376631, total=  30.9s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.7184429610740268, total=  31.2s
[CV] max_depth=7, n_estimators=100, seed=42 ..........................
[CV]  max_depth=7, n_estimators=100, seed=42, score=0.7545938648466212, total=  31.2s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.708789560521974, total=  45.6s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.7307432685817146, total=  45.7s
[CV] max_depth=7, n_estimators=150, seed=42 ..........................
[CV]  max_depth=7, n_estimators=150, seed=42, score=0.7765694142353559, total=  46.1s
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.7213139343032848, total= 1.0min
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.7446186154653867, total= 1.0min
[CV] max_depth=7, n_estimators=200, seed=42 ..........................
[CV]  max_depth=7, n_estimators=200, seed=42, score=0.7950198754968875, total= 1.0min
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.7430628468576571, total= 1.5min
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.7679441986049651, total= 1.5min
[CV] max_depth=7, n_estimators=300, seed=42 ..........................
[CV]  max_depth=7, n_estimators=300, seed=42, score=0.8304207605190129, total= 1.5min
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.7105144742762862, total=  21.5s
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.7371934298357459, total=  21.7s
[CV] max_depth=9, n_estimators=50, seed=42 ...........................
[CV]  max_depth=9, n_estimators=50, seed=42, score=0.790444761119028, total=  21.7s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................

[CV]  max_depth=9, n_estimators=70, seed=42, score=0.7235638218089095, total=  29.5s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................
[CV]  max_depth=9, n_estimators=70, seed=42, score=0.7502437560939024, total=  29.6s
[CV] max_depth=9, n_estimators=70, seed=42 ...........................
[CV]  max_depth=9, n_estimators=70, seed=42, score=0.807995199879997, total=  29.8s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.7340632968351583, total=  41.2s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.7689942248556214, total=  41.3s
[CV] max_depth=9, n_estimators=100, seed=42 ..........................
[CV]  max_depth=9, n_estimators=100, seed=42, score=0.8326708167704192, total=  41.9s
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.7537873106344682, total= 1.0min
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.7854196354908872, total= 1.0min
[CV] max_depth=9, n_estimators=150, seed=42 ..........................
[CV]  max_depth=9, n_estimators=150, seed=42, score=0.8723468086702167, total= 1.0min
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.7723113844307785, total= 1.3min
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.8034950873771844, total= 1.4min
[CV] max_depth=9, n_estimators=200, seed=42 ..........................
[CV]  max_depth=9, n_estimators=200, seed=42, score=0.9022725568139204, total= 1.4min
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.7943602819859007, total= 2.0min
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.8304957623940599, total= 2.0min
[CV] max_depth=9, n_estimators=300, seed=42 ..........................
[CV]  max_depth=9, n_estimators=300, seed=42, score=0.9453236330908272, total= 2.0min
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.787985600719964, total=  30.6s
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.819470486762169, total=  30.6s
[CV] max_depth=12, n_estimators=50, seed=42 ..........................
[CV]  max_depth=12, n_estimators=50, seed=42, score=0.9210230255756394, total=  31.1s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.7993100344982751, total=  41.8s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.8307207680192005, total=  43.0s
[CV] max_depth=12, n_estimators=70, seed=42 ..........................
[CV]  max_depth=12, n_estimators=70, seed=42, score=0.9433735843396085, total=  42.4s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.8092095395230239, total=  58.0s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.840696017400435, total=  58.3s
[CV] max_depth=12, n_estimators=100, seed=42 .........................
[CV]  max_depth=12, n_estimators=100, seed=42, score=0.9651991299782494, total=  59.2s
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.8188840557972101, total= 1.4min
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.8504462611565289, total= 1.4min
[CV] max_depth=12, n_estimators=150, seed=42 .........................
[CV]  max_depth=12, n_estimators=150, seed=42, score=0.9828245706142653, total= 1.5min
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.8245087745612719, total= 1.9min
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.8571214280357009, total= 1.9min
[CV] max_depth=12, n_estimators=200, seed=42 .........................
[CV]  max_depth=12, n_estimators=200, seed=42, score=0.992124803120078, total= 1.9min
[CV] max_depth=12, n_estimators=300, seed=42 .........................
[CV]  max_depth=12, n_estimators=300, seed=42, score=0.8267586620668966, total= 2.8min
[CV] max_depth=12, n_estimators=300, seed=42 .........................
[CV]  max_depth=12, n_estimators=300, seed=42, score=0.8585464636615915, total= 2.8min
[CV] max_depth=12, n_estimators=300, seed=42 .........................

In [ ]:
clf.best_es

In [ ]:
predictions = clf.predict(test_X)
model = clf.best_estimator_

### Submission

In [51]:
def probability_dataframe(model,test_data, predictions):
    probabilities = model.predict_proba(test_data)
    d = {'application_key':test['application_key'], 'default_ind':predictions.tolist(),\
         'probability':probabilities.tolist()}

    prediction_df = pd.DataFrame(data = d)
    prediction_df['Confidence'] = prediction_df.apply(lambda row: row[2][row[1]], axis =1)
    prediction_df.sort_values(by = 'Confidence', axis = 0, ascending=False, inplace = True)
    prediction_df.reset_index(drop=True, inplace = True)
    
    return prediction_df

In [52]:
probability_df = probability_dataframe(model, test_X, predictions)
probability_df

,application_key,default_ind,probability,Confidence
0,364165,0,"[0.9745890498161316, 0.02541094645857811]",0.974589
1,364917,0,"[0.974565327167511, 0.025434646755456924]",0.974565
2,353113,0,"[0.9745352864265442, 0.02546474151313305]",0.974535
3,373563,0,"[0.9745237827301025, 0.02547619119286537]",0.974524
4,355556,0,"[0.9745050668716431, 0.02549491636455059]",0.974505
5,353768,0,"[0.9745050668716431, 0.02549491636455059]",0.974505
6,355510,0,"[0.9744648337364197, 0.025535188615322113]",0.974465
7,361529,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
8,363317,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
9,371305,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
10,364200,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
11,360662,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
12,351441,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
13,356582,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
14,364730,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
15,367361,0,"[0.9744588732719421, 0.025541098788380623]",0.974459
16,359818,0,"[0.9744504690170288, 0.02554951421916485]",0.974450
17,354139,0,"[0.9744504690170288, 0.02554951421916485]",0.974450
18,365948,0,"[0.9744449853897095, 0.025555036962032318]",0.974445
19,368246,0,"[0.9744332432746887, 0.02556673251092434]",0.974433
20,361062,0,"[0.974428653717041, 0.025571344420313835]",0.974429
21,361624,0,"[0.9744161367416382, 0.025583874434232712]",0.974416
22,353426,0,"[0.9744033813476562, 0.025596605613827705]",0.974403
23,356294,0,"[0.9743915796279907, 0.025608427822589874]",0.974392
24,355546,0,"[0.9743854999542236, 0.025614481419324875]",0.974385
25,367542,0,"[0.974378228187561, 0.025621801614761353]",0.974378
26,373579,0,"[0.9743770956993103, 0.025622917339205742]",0.974377
27,369572,0,"[0.9743737578392029, 0.025626221671700478]",0.974374
28,358181,0,"[0.9743583798408508, 0.025641627609729767]",0.974358
29,363037,0,"[0.9743443131446838, 0.025655709207057953]",0.974344
...,...,...,...,...
24970,367600,0,"[0.5010453462600708, 0.4989546835422516]",0.501045
24971,356666,1,"[0.4989587068557739, 0.5010412931442261]",0.501041
24972,362868,1,"[0.49912136793136597, 0.500878632068634]",0.500879
24973,362219,0,"[0.5008618235588074, 0.4991381764411926]",0.500862
24974,351790,0,"[0.5008386373519897, 0.49916133284568787]",0.500839
24975,369523,0,"[0.500767707824707, 0.49923229217529297]",0.500768
24976,370627,1,"[0.4992442727088928, 0.5007557272911072]",0.500756
24977,351600,1,"[0.49928808212280273, 0.5007119178771973]",0.500712
24978,361844,1,"[0.4992920756340027, 0.5007079243659973]",0.500708
24979,351841,1,"[0.499347448348999, 0.500652551651001]",0.500653
24980,369872,0,"[0.5006053447723389, 0.49939462542533875]",0.500605
24981,358415,1,"[0.49943840503692627, 0.5005615949630737]",0.500562
24982,364938,1,"[0.4994660019874573, 0.5005339980125427]",0.500534
24983,370299,0,"[0.5005137324333191, 0.4994862675666809]",0.500514
24984,362698,0,"[0.5005133152008057, 0.49948668479919434]",0.500513
24985,361676,1,"[0.4995253086090088, 0.5004746913909912]",0.500475
24986,369019,1,"[0.49953025579452515, 0.5004697442054749]",0.500470
24987,359282,1,"[0.49964261054992676, 0.5003573894500732]",0.500357
24988,361161,1,"[0.49964964389801025, 0.5003503561019897]",0.500350
24989,360388,1,"[0.4996514320373535, 0.5003485679626465]",0.500349
24990,372694,1,"[0.49967896938323975, 0.5003210306167603]",0.500321
24991,352216,0,"[0.5003112554550171, 0.4996887743473053]",0.500311
24992,360092,1,"[0.49969345331192017, 0.5003065466880798]",0.500307
24993,369774,1,"[0.49970805644989014, 0.5002919435501099]",0.500292
24994,372774,0,"[0.5002822875976562, 0.49971774220466614]",0.500282
24995,372561,0,"[0.5002679824829102, 0.49973198771476746]",0.500268
24996,370801,0,"[0.5001888871192932, 0.4998111128807068]",0.500189
24997,373398,0,"[0.5001459121704102, 0.49985411763191223]",0.500146
24998,354078,1,"[0.49991661310195923, 0.5000833868980408]",0.500083
24999,373745,0,"[0.5000561475753784, 0.4999438524246216]",0.500056

In [46]:
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = trainX_res.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)
feature_importances

          importance
mvar2       0.060817
mvar15      0.046235
mvar33      0.045685
mvar11      0.040409
mvar1       0.038950
mvar29      0.035289
mvar9       0.033280
mvar30      0.032777
mvar7       0.032622
mvar44      0.032490
mvar13      0.032358
mvar25      0.030995
mvar14      0.028447
mvar24      0.028195
mvar21      0.027908
mvar3       0.027167
mvar22      0.026389
mvar42      0.026138
mvar26      0.025779
mvar32      0.025420
mvar12      0.025205
mvar8       0.025001
mvar6       0.022896
mvar41      0.022465
mvar23      0.021796
mvar10      0.021473
mvar31      0.020659
mvar36      0.020121
mvar27      0.020109
mvar38      0.016389
mvar40      0.015503
mvar43      0.013673
mvar28      0.012907
mvar4       0.010108
mvar37      0.009725
mvar5       0.006651
mvar19      0.005120
mvar34      0.004881
mvar45      0.004641
mvar35      0.004462
mvar46      0.003732
mvar20      0.003182
mvar47_C    0.003050
mvar39      0.002512
mvar17      0.002285
mvar18      0.002201
mvar16      0.001902
mvar47_L    0.000000

In [47]:
sum(prediction_df[:10000]['default_ind'])

543

In [48]:
submission = prediction_df.iloc[:,:2]
submission.to_csv('result.csv', index = False, header=False)