In [1]:
import pandas as pd
import numpy as np
#from imblearn.over_sampling import RandomOverSampler
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [3]:
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train, test = pd.read_csv('train2.csv'), pd.read_csv('test2.csv')

In [5]:
train.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,C,0
1,230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,L,1
2,230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,...,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,C,1
3,230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,L,0
4,230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,L,0

In [6]:
train = train.replace(['L', 'C'], [1.0, 0.0])

In [7]:
test.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,350053,1753.0,0.5001,0.000,0.0,0.0,206.0,19179.0,206.0,14221.0,...,1.0,0.0,NaN,20.551,0.42105,3.0,0.85661,NaN,0.0,L
1,350054,1894.0,1.9701,0.000,0.0,0.0,297.0,19820.0,19820.0,176895.0,...,3.0,0.0,NaN,63.047,0.00000,15.0,0.94391,0.0,0.0,C
2,350055,1774.0,0.1718,0.000,0.0,0.0,197.0,2563.0,877.0,8869.0,...,1.0,0.0,NaN,83.797,0.33333,3.0,0.76467,0.0,0.0,C
3,350056,1586.0,0.1123,5.299,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.50000,0.0,NaN,NaN,NaN,C
4,350057,1832.0,1.4442,0.000,0.0,0.0,179.0,7577.0,179.0,21059.0,...,3.0,0.0,96.052,66.665,0.00000,23.0,0.79190,0.0,0.0,L

In [8]:
test = test.replace(['L', 'C'], [1.0, 0.0])

In [9]:
train.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0.0,0
1,230033,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1.0,1
2,230034,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,...,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,0.0,1
3,230035,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,1.0,0
4,230036,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,1.0,0

In [10]:
train_default = train[train['default_ind'] == 1]
train_normal = train[train['default_ind'] == 0]

In [12]:
len(train_normal)

60303

In [13]:
train_normal_und = train_normal.sample(n=30000, random_state=2)

In [15]:
train_normal_und.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
67970,298002,NaN,0.0000,2.891,0.0,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.00000,0.0,NaN,NaN,NaN,0.0,0
27302,257334,1834.0,0.1301,0.000,0.0,0.000,1163.0,15471.0,15471.0,105981.0,...,0.0,NaN,NaN,0.00000,14.0,0.72687,0.0,0.0,1.0,0
30665,260697,1730.0,0.7997,14.354,0.0,2.817,59.0,3967.0,615.0,39109.0,...,0.0,91.399,NaN,0.21951,17.0,0.15199,NaN,NaN,0.0,0
50567,280599,1700.0,3.2464,1.536,0.0,0.000,NaN,431.0,NaN,743.0,...,0.0,NaN,NaN,0.33333,2.0,1.00000,NaN,NaN,1.0,0
45078,275110,1782.0,0.3619,0.000,0.0,0.000,428.0,9458.0,1057.0,26162.0,...,0.0,NaN,NaN,0.07143,6.0,0.47924,NaN,0.0,0.0,0

In [21]:
train_und = pd.concat([train_normal_und, train_default]).sample(frac=1, random_state=3).reset_index(drop=True)
train_und

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,245608,1616.0,1.2171,9.235,0.000,0.000,NaN,0.0,NaN,NaN,...,0.0,100.000,NaN,1.00000,1.0,0.55386,NaN,NaN,0.0,1
1,238844,1876.0,0.9501,0.000,0.000,0.000,426.0,6442.0,6442.0,19820.0,...,0.0,NaN,NaN,0.00000,2.0,1.00000,NaN,NaN,1.0,0
2,271453,1770.0,6.9585,0.637,0.000,0.000,539.0,9081.0,1560.0,7036.0,...,0.0,93.616,59.469,0.35294,12.0,0.49653,NaN,0.0,0.0,0
3,255711,1763.0,3.1145,0.000,0.000,0.000,163.0,5984.0,4955.0,57141.0,...,0.0,NaN,97.610,0.00000,29.0,0.47112,NaN,0.0,0.0,0
4,243775,NaN,0.8701,0.000,0.000,0.000,NaN,NaN,NaN,367.0,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,1
5,233452,1586.0,0.0868,22.965,0.000,0.000,NaN,NaN,NaN,622.0,...,NaN,NaN,NaN,0.75000,0.0,NaN,NaN,0.0,0.0,0
6,237417,NaN,0.3723,5.948,0.000,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.14286,0.0,NaN,NaN,NaN,1.0,1
7,309698,1912.0,0.0000,0.000,0.000,0.000,3964.0,39179.0,12111.0,61442.0,...,0.0,NaN,NaN,0.00000,10.0,0.90014,0.0,0.0,1.0,0
8,296552,1904.0,NaN,0.000,0.000,0.000,1441.0,14865.0,14865.0,260113.0,...,0.0,NaN,NaN,0.00000,17.0,0.30742,NaN,NaN,0.0,0
9,266447,1723.0,0.4018,1.296,0.000,0.000,NaN,6637.0,NaN,71104.0,...,0.0,NaN,NaN,0.12000,4.0,1.00000,0.0,0.0,0.0,0
10,287059,1764.0,2.5056,0.000,0.000,0.000,16.0,10739.0,607.0,45720.0,...,0.0,79.134,88.926,0.22727,27.0,0.29208,0.0,0.0,1.0,0
11,257559,1828.0,0.0000,0.000,0.000,0.000,297.0,14262.0,14262.0,40285.0,...,0.0,NaN,NaN,0.08333,7.0,1.00000,0.0,0.0,1.0,0
12,234404,NaN,1.6710,10.582,0.000,0.000,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,1.50000,0.0,0.75555,NaN,NaN,1.0,0
13,230392,1631.0,0.8201,49.782,6.545,25.143,NaN,1244.0,NaN,NaN,...,0.0,144.955,86.715,0.86957,2.0,0.34185,NaN,1.0,0.0,1
14,266066,1785.0,0.6871,0.000,0.000,0.000,228.0,7667.0,7667.0,89685.0,...,0.0,NaN,NaN,0.00000,27.0,0.29740,NaN,0.0,0.0,0
15,300018,1762.0,0.5790,0.000,0.000,0.000,15.0,15.0,15.0,NaN,...,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,0.0,1
16,277638,1836.0,1.7618,0.173,0.000,0.000,297.0,103570.0,7333.0,78117.0,...,0.0,NaN,87.506,0.00000,14.0,0.72667,0.0,0.0,0.0,0
17,243300,1900.0,NaN,0.000,0.000,0.000,3282.0,14892.0,3282.0,12461.0,...,0.0,52.604,9.246,0.00000,3.0,0.73618,NaN,0.0,1.0,0
18,288387,NaN,0.6844,0.000,0.000,0.000,NaN,155.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.00000,NaN,NaN,0.0,1
19,253585,1760.0,1.7326,7.614,0.000,0.000,520.0,2220.0,2220.0,4380.0,...,0.0,NaN,92.969,0.40000,4.0,0.97010,NaN,0.0,0.0,1
20,272071,1763.0,1.5834,0.201,0.000,0.000,31.0,31.0,31.0,743.0,...,0.0,NaN,NaN,NaN,0.0,0.73624,NaN,NaN,0.0,0
21,254999,1731.0,1.6022,5.888,0.000,0.000,297.0,1741.0,1741.0,41305.0,...,0.0,NaN,NaN,0.16667,10.0,0.97340,0.0,0.0,1.0,0
22,274329,1728.0,3.1826,0.537,0.000,0.000,208.0,6000.0,496.0,297.0,...,0.0,NaN,77.349,0.90000,2.0,0.99567,NaN,0.0,0.0,1
23,280801,1588.0,0.5264,3.366,3.366,0.000,NaN,9995.0,NaN,NaN,...,1.0,NaN,39.153,0.54545,0.0,1.00000,0.0,1.0,1.0,0
24,276757,1696.0,0.6801,1.156,0.000,0.000,0.0,24179.0,24179.0,21251.0,...,0.0,NaN,NaN,0.60000,1.0,0.46461,NaN,NaN,1.0,1
25,263510,1729.0,1.2508,2.724,1.807,0.000,17.0,13868.0,742.0,31377.0,...,0.0,NaN,99.044,0.14815,9.0,0.42817,0.0,0.0,0.0,0
26,308422,1898.0,0.0544,0.000,0.000,0.000,860.0,10406.0,10406.0,49102.0,...,0.0,NaN,NaN,0.00000,7.0,0.48155,0.0,NaN,1.0,0
27,240910,NaN,0.8001,0.000,0.000,0.000,NaN,NaN,NaN,297.0,...,NaN,NaN,NaN,1.00000,0.0,NaN,0.0,0.0,0.0,1
28,271560,1812.0,0.6945,0.578,0.000,0.000,2378.0,27144.0,14780.0,27748.0,...,0.0,60.502,NaN,0.14286,7.0,0.91565,0.0,NaN,0.0,0
29,270155,1800.0,1.5601,0.000,0.000,0.000,1703.0,3125.0,3125.0,8126.0,...,0.0,100.000,87.245,0.00000,12.0,0.73663,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49667,274085,1774.0,3.2056,0.000,0.000,0.000,492.0,18478.0,5897.0,64691.0,...,0.0,NaN,43.753,0.19444,21.0,0.75222,0.0,0.0,0.0,0
49668,231489,1579.0,0.3641,3.009,0.000,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.00000,0.0,NaN,NaN,NaN,0.0,1
49669,230757,1699.0,0.9230,1.842,0.000,0.000,0.0,8090.0,0.0,12289.0,...,0.0,NaN,72.123,0.27273,11.0,0.53508,NaN,0.0,0.0,0
49670,259381,1698.0,2.3446,6.662,0.447,0.000,62.0,4724.0,396.0,1982.0,...,0.0,NaN,63.886,0.45455,2.0,0.95073,NaN,0.0,0.0,0
49671,301090,1750.0,0.4569,5.315,1.665,0.000,367.0,1634.0,1331.0,45936.0,...,0.0,NaN,NaN,0.12500,5.0,0.98390,0.0,0.0,1.0,0
49672,243885,1856.0,0.4416,0.000,0.000,0.000,694.0,6843.0,6843.0,18086.0,...,0.0,NaN,NaN,0.00000,4.0,0.56213,NaN,NaN,0.0,0
49673,235507,1717.0,0.9859,1.704,0.453,0.000,49.0,8087.0,1877.0,17144.0,...,0.0,NaN,58.348,0.15385,5.0,0.47146,0.0,0.0,0.0,0
49674,309231,1759.0,0.0293,0.000,0.000,0.000,991.0,3259.0,3259.0,20529.0,...,0.0,NaN,NaN,0.42857,4.0,0.86215,NaN,NaN,0.0,0
49675,289923,1751.0,3.9134,0.000,0.000,0.000,496.0,1982.0,1982.0,14851.0,...,0.0,NaN,NaN,0.25000,11.0,0.52147,NaN,0.0,1.0,1
49676,230498,1781.0,0.6050,0.545,0.000,0.000,NaN,109945.0,NaN,17838.0,...,1.0,NaN,62.487,0.00000,3.0,0.91032,0.0,0.0,1.0,0
49677,272740,1932.0,NaN,0.000,0.000,0.000,347.0,117966.0,15856.0,58286.0,...,0.0,NaN,NaN,0.00000,9.0,0.77904,0.0,NaN,1.0,0
49678,291313,1940.0,NaN,0.000,0.000,0.000,26610.0,116938.0,49550.0,115914.0,...,0.0,NaN,NaN,0.00000,7.0,0.97403,0.0,NaN,1.0,0
49679,249796,1608.0,2.0939,1.829,0.000,0.600,0.0,532.0,19.0,1817.0,...,0.0,100.000,NaN,0.66667,5.0,0.84274,NaN,0.0,0.0,1
49680,293287,1764.0,0.0000,0.000,0.000,0.000,496.0,11802.0,4781.0,35973.0,...,0.0,NaN,48.143,0.05882,12.0,0.85749,NaN,0.0,0.0,0
49681,306392,NaN,0.0751,0.000,0.000,0.000,1221.0,1221.0,1221.0,NaN,...,0.0,NaN,NaN,1.09091,0.0,1.00000,NaN,NaN,0.0,0
49682,301975,1690.0,0.0000,18.470,0.000,8.565,297.0,1690.0,297.0,7735.0,...,0.0,111.270,NaN,0.42857,4.0,0.34855,NaN,NaN,0.0,0
49683,250815,1797.0,0.6129,0.000,0.000,0.000,496.0,2881.0,2478.0,5946.0,...,0.0,103.158,NaN,0.00000,12.0,0.27961,NaN,0.0,0.0,0
49684,272250,NaN,0.1944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1
49685,237694,1770.0,0.4891,0.000,0.000,0.000,991.0,6115.0,5523.0,24983.0,...,0.0,NaN,NaN,0.34783,5.0,0.99132,0.0,0.0,1.0,0
49686,288079,1636.0,0.8974,9.220,3.024,0.000,0.0,20076.0,100.0,1586.0,...,0.0,NaN,48.104,0.50000,0.0,0.51089,0.0,0.0,0.0,1
49687,231869,1717.0,0.5686,0.000,0.000,0.000,0.0,317.0,317.0,3523.0,...,0.0,NaN,NaN,0.00000,4.0,0.59868,NaN,NaN,0.0,1
49688,294282,1650.0,0.8070,3.451,0.000,0.000,0.0,7815.0,0.0,38596.0,...,1.0,NaN,65.912,0.33333,5.0,0.83630,0.0,0.0,0.0,0
49689,259819,1873.0,0.0601,0.000,0.000,0.000,4460.0,11818.0,11818.0,10805.0,...,0.0,NaN,NaN,0.00000,1.0,1.00000,NaN,NaN,1.0,0
49690,275054,1676.0,1.8629,5.624,5.364,0.000,365.0,4757.0,511.0,3023.0,...,1.0,NaN,NaN,0.28571,1.0,0.96755,NaN,1.0,0.0,0
49691,269486,1537.0,2.2792,4.572,0.000,0.000,0.0,0.0,0.0,1276.0,...,1.0,NaN,NaN,0.76923,0.0,0.76475,1.0,0.0,1.0,1
49692,270747,1812.0,0.0847,0.000,0.000,0.000,790.0,5043.0,1082.0,7978.0,...,0.0,100.282,NaN,0.00000,7.0,0.33201,NaN,0.0,0.0,0
49693,304057,1616.0,1.5613,8.330,0.000,0.000,NaN,43.0,NaN,NaN,...,0.0,NaN,NaN,1.00000,1.0,1.00000,NaN,NaN,0.0,1
49694,296449,1909.0,0.0346,0.000,0.000,0.000,4955.0,36053.0,14865.0,40136.0,...,0.0,NaN,NaN,0.00000,14.0,0.64866,0.0,0.0,0.0,0
49695,281282,1793.0,1.7738,0.000,0.000,0.000,110.0,46959.0,7569.0,110853.0,...,0.0,NaN,79.487,0.00000,15.0,0.32306,0.0,0.0,0.0,0
49696,232355,1671.0,0.0000,21.456,0.000,0.000,NaN,950.0,NaN,347.0,...,0.0,NaN,96.195,0.81818,2.0,1.00000,NaN,0.0,1.0,0

In [25]:
train_und['default_ind'].value_counts()*100/len(train_und)

0    60.365817
1    39.634183
Name: default_ind, dtype: float64

In [26]:
train_X = train_und.iloc[:,1:-1]
train_Y = train_und.iloc[:,-1]
test_X = test.iloc[:,1:]

In [23]:
sum(train_Y)

19697

In [ ]:
xgb_model = XGBClassifier(n_jobs = 6)

parameters = {'max_depth': [3,5,7,9,12],
              'n_estimators': [50, 70, 100, 150, 200, 300], 
              'seed': [42]}

clf = GridSearchCV(xgb_model, param_grid=parameters, scoring='recall', verbose=5)


clf.fit(train_X, train_Y)

Fitting 3 folds for each of 30 candidates, totalling 90 fits
[CV] max_depth=3, n_estimators=50, seed=42 ...........................
[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6704233932378921, total=   1.9s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6643314042034725, total=   1.7s
[CV] max_depth=3, n_estimators=50, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    3.9s remaining:    0.0s

[CV]  max_depth=3, n_estimators=50, seed=42, score=0.6642802741812642, total=   1.7s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    5.8s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6696618946085897, total=   2.4s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    8.3s remaining:    0.0s

[CV]  max_depth=3, n_estimators=70, seed=42, score=0.6670727992689613, total=   2.4s
[CV] max_depth=3, n_estimators=70, seed=42 ...........................

In [ ]:
clf.best_estimator_

In [ ]:
predictions = clf.predict(test_X)
model = clf.best_estimator_

### Submission

In [ ]:
def probability_dataframe(model,test_data, predictions):
    probabilities = model.predict_proba(test_data)
    d = {'application_key':test['application_key'], 'default_ind':predictions.tolist(),\
         'probability':probabilities.tolist()}

    prediction_df = pd.DataFrame(data = d)
    prediction_df['Confidence'] = prediction_df.apply(lambda row: row[2][row[1]], axis =1)
    prediction_df.sort_values(by = 'Confidence', axis = 0, ascending=False, inplace = True)
    prediction_df.reset_index(drop=True, inplace = True)
    
    return prediction_df

In [ ]:
probability_df = probability_dataframe(model, test_X, predictions)
probability_df

In [ ]:
probability_df.iloc[:10000]

In [ ]:
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = train_X.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)
feature_importances

In [ ]:
sum(probability_df[:10000]['default_ind'])

In [ ]:
submission = probability_df
probability_df.iloc[:,:2]
submission.to_csv('Normal_optimum_200_7.csv', index = False, header=False)